doctype html
html
  head
    style
      include style.css
  body
    .container
      .header
        img.logo(src=`https://damneddesigns.com/Logo.svg` alt="Damned Designs")
        h1 Your Order Has Shipped!
      .content
        p Hello #{data.email},
        p Great news! Your order from Damned Designs has been shipped and is on its way to you.
        
        h2 Order Details:
        p 
          strong Order Number: 
          span #{data.display_id}
        p
          strong Date Shipped: 
          span #{new Date().toLocaleDateString()}
        
        if data.shipment
          .tracking-info
            h2 Tracking Information:
            p 
              strong Carrier: 
              span #{data.shipment.shipping_method.name || 'Standard Shipping'}
            if data.shipment.tracking_numbers && data.shipment.tracking_numbers.length
              p 
                strong Tracking Number: 
                span #{data.shipment.tracking_numbers[0]}
                if data.shipment.tracking_links && data.shipment.tracking_links.length
                  |  (
                  a(href=data.shipment.tracking_links[0]) Track Package
                  | )
        
        table.order-items
          thead
            tr
              th Item
              th Quantity
          tbody
            each item in data.items
              tr
                td.item-name #{item.product_title || item.title}
                td.item-qty #{item.quantity}
        
        if data.shipping_address
          .shipping-info
            h2 Shipping Address:
            p #{data.shipping_address.first_name} #{data.shipping_address.last_name}
            p #{data.shipping_address.address_1}
            if data.shipping_address.address_2
              p #{data.shipping_address.address_2}
            p #{data.shipping_address.city}, #{data.shipping_address.province} #{data.shipping_address.postal_code}
            p #{data.shipping_address.country_code}
            
      .footer
        p If you have any questions about your order, please contact our customer service team at support@damneddesigns.com.
        p Thank you for shopping with Damned Designs!