doctype html
html
  head
    style
      include style.css
  body
    .container
      .header
        img.logo(src=`${data.metadata?.logo || 'https://damneddesigns.com/Logo.svg'}` alt="Damned Designs")
        h1 New Order Received!
      .content
        p.alert
          strong ⚠️ ADMIN NOTIFICATION: New order has been received
        
        p Customer: #{data.customer?.first_name || ''} #{data.customer?.last_name || ''} (#{data.email})
        
        h2 Order Details:
        p 
          strong Order Number: 
          span #{data.display_id}
        p
          strong Date: 
          span #{new Date(data.created_at).toLocaleDateString()}
        p
          strong Order URL: 
          a(href=`https://admin.damneddesigns.com/orders/${data.id}`) View in Admin Panel
        
        table.order-items
          thead
            tr
              th Item
              th Quantity
              th Price
          tbody
            each item in data.items
              tr
                td.item-name #{item.product_title || item.title}
                td.item-qty #{item.quantity}
                td.item-price $#{(item.unit_price / 100).toFixed(2)}
        
        .order-summary
          p
            strong Subtotal: 
            span $#{(data.subtotal / 100).toFixed(2)}
          p
            strong Shipping: 
            span $#{(data.shipping_total / 100).toFixed(2)}
          p
            strong Tax: 
            span $#{(data.tax_total / 100).toFixed(2)}
          p.total
            strong Total: 
            span $#{(data.total / 100).toFixed(2)}
        
        if data.customer
          .customer-info
            h2 Customer Information:
            p
              strong Name: 
              span #{data.customer.first_name} #{data.customer.last_name}
            p
              strong Email: 
              span #{data.email}
            if data.customer.phone
              p
                strong Phone: 
                span #{data.customer.phone}
        
        if data.shipping_address
          .shipping-info
            h2 Shipping Address:
            p #{data.shipping_address.first_name} #{data.shipping_address.last_name}
            p #{data.shipping_address.address_1}
            if data.shipping_address.address_2
              p #{data.shipping_address.address_2}
            p #{data.shipping_address.city}, #{data.shipping_address.province} #{data.shipping_address.postal_code}
            p #{data.shipping_address.country_code}
            
        if data.billing_address
          .shipping-info
            h2 Billing Address:
            p #{data.billing_address.first_name} #{data.billing_address.last_name}
            p #{data.billing_address.address_1}
            if data.billing_address.address_2
              p #{data.billing_address.address_2}
            p #{data.billing_address.city}, #{data.billing_address.province} #{data.billing_address.postal_code}
            p #{data.billing_address.country_code}
            
      .footer
        p This is an automated notification from your Damned Designs e-commerce system.
        p © #{new Date().getFullYear()} Damned Designs - All rights reserved