doctype html
html
  head
    style
      include style.css
  body
    .container
      .header
        img.logo(src=`${data.metadata?.logo || 'https://damneddesigns.com/Logo.svg'}` alt="Damned Designs")
        h1 Thank you for your order!
      .content
        p Hello #{data.email},
        p Thank you for your purchase with Damned Designs. Your order has been received and is being processed.
        h2 Order Details:
        p 
          strong Order Number: 
          span #{data.display_id}
        p
          strong Date: 
          span #{new Date(data.created_at).toLocaleDateString()}
        
        table.order-items
          thead
            tr
              th Item
              th Quantity
              th Price
          tbody
            each item in data.items
              tr
                td.item-name #{item.product_title || item.title}
                td.item-qty #{item.quantity}
                td.item-price $#{(item.unit_price / 100).toFixed(2)}
        
        .order-summary
          p
            strong Subtotal: 
            span $#{(data.subtotal / 100).toFixed(2)}
          p
            strong Shipping: 
            span $#{(data.shipping_total / 100).toFixed(2)}
          p
            strong Tax: 
            span $#{(data.tax_total / 100).toFixed(2)}
          p.total
            strong Total: 
            span $#{(data.total / 100).toFixed(2)}
        
        if data.shipping_address
          .shipping-info
            h2 Shipping Information:
            p #{data.shipping_address.first_name} #{data.shipping_address.last_name}
            p #{data.shipping_address.address_1}
            if data.shipping_address.address_2
              p #{data.shipping_address.address_2}
            p #{data.shipping_address.city}, #{data.shipping_address.province} #{data.shipping_address.postal_code}
            p #{data.shipping_address.country_code}
            
      .footer
        p If you have any questions about your order, please contact our customer service team at support@damneddesigns.com.
        p Thank you for shopping with Damned Designs!